# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# Editor/IDE configs
.idea/
.vscode/

# Git
.git/
.gitignore

# OS / other
.DS_Store

# Django static/media
staticfiles/
media/
